<html>
<meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

<title>Pi Panel</title>

<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="/">Pi Panel</a>
    </li>
</ul>

<div class="container">
  
  <div class="row">
    <h1 id="page_title" class="col">{% block page_title %}{% endblock %}</h1>
    <h3 id="page_subtitle" class="col" style="text-align: right; vertical-align: middle; display: inline-block;">{% block page_subtitle %}{% endblock %}</h2>
  </div>
  
  <p>{% block body %}{% endblock %}</p>

</div>

<div class='container'>
<hr>

</html>