{% extends "layout.html" %}
{% block page_title %}LED Panel{% endblock %}

{% block body %}

    {{ super() }}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <button type="button" class="btn btn-danger w-100">Red</button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-success w-100">Green</button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-primary w-100">Blue</button>
            </div>
        </div>
        <div class="row ">
            <input type="range" class="form-range" id="brightness">
        </div>
    </div>

    <script>
        $(function() {
            $('button').click(function() {
                $.ajax({
                    url: '{{ url_for("FUN_led") }}',
                    type: 'POST',
                    data: {
                        color: $(this).text(),
                        brightness: $('#brightness').val()
                    }
                });
            });
        });
    </script>
    
{% endblock %}